<nav class="nav">
  <a class="nav-link" href="/reading">Reading</a>
  <a class="nav-link" href="/writing">Writing</a>
  <a class="nav-link" href="/mathcalc">Math with Calc</a>
  <a class="nav-link" href="/mathnocalc">Math NO Calc</a>
  <a class="nav-link" href="/logout">Logout</a>
</nav>