<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="User Authentication">
  <meta name="author" content="PhilHaberern">

  <title>Crafting Scholars</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  {{!-- Custom --}}
  <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="/"><img id="crafting-scholars-logo" src="./img/craftingScholarsLogo.png" alt="crafting scholars logo"></a>
          <h1>SAT Baseline</h1>
          <hr>
          {{#if user}}
          {{> nav}}
          <hr>
          {{/if}}
          {{{body}}}
          <hr>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  {{!-- Custom --}}
  <script type="text/javascript" src="./js/dynamic.js"></script>
  <script type="text/javascript" src="./js/report.js"></script>
  <script type="text/javascript" src="./js/exceptions.js"></script>
</body>
</html>
