{{#if user}}
  <div id="logout">
    <a href="/logout">Logout</a>
  </div>
  <div class="text-center">
    <label for="sat-selection">Select a section</label>
      <select id="sat-section-selection">
        <option value="mathCalcTemplate">Math with Calc</option>
        <option value="mathNoCalcTemplate">Math without Calc</option>
        <option value="readingTemplate">Reading</option>
        <option value="writingTemplate">Writing</option>
      </select>
    <button id="start-button">Start</button>
  </div>

{{else}}

  <div class="signin text-center">
    <div id="local">
      <a data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">Sign In</a>
      <a data-toggle="collapse" href="#local-reg" class="btn btn-default btn-md" role="button">Register</a>
    </div>

    <form id="local-sign-in" class="collapse" action="/login" method="post">
      <label>Email:</label>
      <input type="text" name="email"/>
      <label>Password:</label>
      <input type="password" name="password"/>
      <input type="submit" class="btn btn-primary btn-sm"/>
    </form>

    <form id="local-reg" class="collapse" action="/signup" method="post">
      <label>New Username:</label>
      <input type="text" name="email"/>
      <label>New Password:</label>
      <input type="password" name="password"/>
      <input type="submit" class="btn btn-primary btn-sm"/>
    </form>
  </div>

{{/if}}