{{#if user}}
  {{!-- <div class="jumbotron">
    <h1>MongoDB User Authentication</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <p>Avatar: <img src="{{user.avatar}}"/></p>
    </div>
  </div> --}}
  <div class="text-center">
    <label for="sat-selection">Select a section</label>
      <select id="sat-section-selection">
        <option value="mathCalcTemplate">Math with Calc</option>
        <option value="mathNoCalcTemplate">Math without Calc</option>
        <option value="readingTemplate">Reading</option>
        <option value="writingTemplate">Writing</option>
      </select>
    <button id="start-button">Start</button>
  </div>

{{else}}

  <div class="signin text-center">
    <div id="local">
      <a data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">Sign In</a>
      <a data-toggle="collapse" href="#local-reg" class="btn btn-default btn-md" role="button">Register</a>
    </div>

    <form id="local-sign-in" class="collapse" action="/login" method="post">
      <div>
          <p></p>
          <label>Username:</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>Password:</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
      </div>
    </form>

    <form id="local-reg" class="collapse" action="/local-reg" method="post">
      <div>
          <p></p>
          <label>New Username:</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>New Password:</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
      </div>
    </form>
  </div>

{{/if}}