<div class="container">
    <div class="row">
        <div class="section-intro">
            <h1>{{quiz.name}}</h1>
            {{#each quiz.directions}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        <div class="section-content">
            {{#each quiz.content}}
                <div>
                    {{#each this.passage}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>                
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
</div>