<div class="container">
    <div class="row">
        <div id="quiz">
            <div class="row" id="section-intro">
                <div class="col-md-12">
                    <div id="directions"></div>
                </div>
            </div>
            <div class="row">
                <div id="content">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="footer">
                    </div>
                </div>
                <div id="timer"></div>
            </div>
    </div>
</div>